# simple python code
Coursera courses: 
IT Automation With Python
01: Crash Course Python

In [1]:
def greeting(name):
    print("Welcome "+name)
result = greeting("Matthias!!!")

Welcome Matthias!!!

In [2]:
# area of a triangle

def area_triangle(base, height):
    return (base * height)/2

area_a = area_triangle(7,2)
area_b = area_triangle(9,6)
area_sum = area_a + area_b
print("the area is: " + str(area_sum))

the area is: 34.0

In [3]:
# convert seconds

def convert_seconds(seconds):
    hours = seconds // 3600
    minutes = (seconds - hours * 3600) // 60
    remaining_seconds = seconds - hours * 3600 - minutes * 60
    return hours, minutes, remaining_seconds

hours, minutes, seconds = convert_seconds(5000)
print("hours: "+str(hours), "\nminutes: "+str(minutes), "\nseconds: "+str(seconds))

hours: 1
minutes: 23
seconds: 20

In [5]:
# Months and Days

def month_days(month, days):
    result = f"{month} has {days} days."
    return (result)
print (month_days("June", 30))
print (month_days("July", 31))

June has 30 days.
July has 31 days.

In [7]:
# defining area of circle

def circle_area(radius):
    pi = 3.1416
    area = pi * (radius ** 2)
    print(area)
circle_area(8)

201.0624

In [9]:
#defineing area of rectangle

def rectangle_area(base, height):
    area = base*height  # the area is base*height
    print("The area is " + str(area))
rectangle_area(5,6)

The area is 30

In [10]:
#In this scenario, two friends are eating dinner at a restaurant.
#The bill comes in the amount of 47.28 dollars.
#The friends decide to split the bill evenly between them, after adding 15% tip for the service.
#Calculate the tip, the total amount to pay, and each friend's share, then output a message saying "Each person needs to pay: " followed by the resulting number.

bill = 47.28
tip = bill * (15/100)
total = bill + tip
share = total/2 
print("Each person needs to pay: "+str(share))

Each person needs to pay: 27.186

In [2]:
#Defining function with if elif else

def greeting(name):
      if name == "Taylor":
    return "Welcome back Taylor!"
  else:
    return "Hello there, " + name

print(greeting("Taylor"))
print(greeting("John"))

Welcome back Taylor!
Hello there, John

In [4]:
# If a filesystem has a block size of 4096 bytes, 
# this means that a file comprised of only one byte will still use 4096 bytes of storage. 
# A file made up of 4097 bytes will use 4096*2=8192 bytes of storage. 
# Knowing this, can you fill in the gaps in the calculate_storage function below, which calculates the total number of bytes needed to store a file of a given size?

def calculate_storage(filesize):
    block_size = 4096
    # Use floor division to calculate how many blocks are fully occupied
    full_blocks = filesize // block_size
    # Use the modulo operator to check whether there's any remainder
    partial_block_remainder = filesize % block_size
    # Depending on whether there's a remainder or not, return
    # the total number of bytes required to allocate enough blocks
    # to store your data.
    if partial_block_remainder > 0:
        return (full_blocks + 1) * block_size
    return filesize

print(calculate_storage(1))    # Should be 4096
print(calculate_storage(4096)) # Should be 4096
print(calculate_storage(4097)) # Should be 8192
print(calculate_storage(6000)) # Should be 8192

4096
4096
8192
8192

In [5]:
#Problem: This function converts miles to kilometers (km).

#1. Complete the function to return the result of the conversion
#2. Call the function to convert the trip distance from miles to kilometers
#3. Fill in the blank to print the result of the conversion
#4. Calculate the round-trip in kilometers by doubling the result, and fill in the blank to print the result

# 1) Complete the function to return the result of the conversion
def convert_distance(miles):
	km = miles * 1.6  # approximately 1.6 km in 1 mile
	return km

my_trip_miles = 55

# 2) Convert my_trip_miles to kilometers by calling the function above
my_trip_km = convert_distance(my_trip_miles)

# 3) Fill in the blank to print the result of the conversion
print("The distance in kilometers is " + str(my_trip_km))

# 4) Calculate the round-trip in kilometers by doubling the result,
#    and fill in the blank to print the result
print("The round-trip in kilometers is " + str(2.0*my_trip_km))

The distance in kilometers is 88.0
The round-trip in kilometers is 176.0

In [2]:
#This function compares two numbers and returns them in increasing order.

#Fill in the blanks, so the print statement displays the result of the function call in order.
#Hint: if a function returns multiple values, don't forget to store these values in multiple variables

def order_numbers(number1, number2):
	if number2 > number1:
		return number1, number2
	else:
		return number2, number1

# 1) Fill in the blanks so the print statement displays the result
#    of the function call
smaller, bigger = order_numbers(100, 99)
print(smaller, bigger)

99 100

In [5]:
#Let's revisit our lucky_number function. We want to change it, so that instead of printing the message, it returns the message. This way, the calling line can print the message, or do something else with it if needed. Fill in the blanks to complete the code to make it work.

def lucky_number(name):
  number = len(name) * 9
  message = "Hello " + name + ". Your lucky number is " + str(number)
  return message   
print(lucky_number("Kay"))
print(lucky_number("Cameron"))

Hello Kay. Your lucky number is 27
Hello Cameron. Your lucky number is 63

# Self Practice
Python

In [8]:
def greeting():
    print("Hello")
    print("madafaka")
greeting()

Hello
madafaka

In [7]:
a = "Hello"
b = 99
c = a+str(b)
print (c)
#print(type(a))
#print(type(b))
print(type(c))

Hello99
<class 'str'>

In [16]:
list = [12,45,87,54,98,56,19,3,46]
list.sort()
print(list)
list.reverse()
print(list)
maximum = max(list)
print(maximum)
minimum = min(list)
print(minimum)

[3, 12, 19, 45, 46, 54, 56, 87, 98]
[98, 87, 56, 54, 46, 45, 19, 12, 3]
98
3

In [13]:
def color_translator(color):
	if color == "red":
		return "#ff0000"
	elif color == "green":
		return "#00ff00"
	elif color == "blue":
		return "#0000ff"
	else:
		return "unknown"
	return color

print(color_translator("blue")) # Should be #0000ff
print(color_translator("yellow")) # Should be unknown
print(color_translator("red")) # Should be #ff0000
print(color_translator("black")) # Should be unknown
print(color_translator("green")) # Should be #00ff00
print(color_translator("")) # Should be unknown

#0000ff
unknown
#ff0000
unknown
#00ff00
unknown

In [10]:
#The longest_word function is used to compare 3 words. 
#It should return the word with the most number of characters (and the first in the list when they have the same length). 
#Fill in the blank to make this happen.

def longest_word(word1, word2, word3):
	if len(word1) >= len(word2) and len(word1) >= len(word3):
		word = word1
	elif len(word1)<=len(word2) and len(word2)>=len(word3):
		word = word2
	else:
		word = word3
	return(word)

print(longest_word("chair", "couch", "table"))
print(longest_word("bed", "bath", "beyond"))
print(longest_word("laptop", "notebook", "desktop"))

chair
beyond
notebook

In [11]:
#The fractional_part function divides the numerator by the denominator, and returns just the fractional part (a number between 0 and 1). 
#Complete the body of the function so that it returns the right number. 
#Note: Since division by 0 produces an error, if the denominator is 0, the function should return 0 instead of attempting the division.

def fractional_part(numerator, denominator):
	# Operate with numerator and denominator to 
# keep just the fractional part of the quotient
	if numerator==0 or denominator==0:
		return 0
	else:
		fractional=(numerator/denominator)-(numerator//denominator)
		return fractional

print(fractional_part(5, 5)) # Should be 0
print(fractional_part(5, 4)) # Should be 0.25
print(fractional_part(5, 3)) # Should be 0.66...
print(fractional_part(5, 2)) # Should be 0.5
print(fractional_part(5, 0)) # Should be 0
print(fractional_part(0, 5)) # Should be 0

0.0
0.25
0.6666666666666667
0.5
0
0

In [7]:
keys = ['Ujjol','Mita','Pranto']
values = ['WorldVision','HouseWife','Student']
data = dict(zip(keys,values))
print(data)
data['Matthias'] = 'goru'
print(data)
del data['Matthias']
print(data)

{'Ujjol': 'WorldVision', 'Mita': 'HouseWife', 'Pranto': 'Student'}
{'Ujjol': 'WorldVision', 'Mita': 'HouseWife', 'Pranto': 'Student', 'Matthias': 'goru'}
{'Ujjol': 'WorldVision', 'Mita': 'HouseWife', 'Pranto': 'Student'}

In [3]:
def my_func(n1, n2): 
    return n1 + n2 
my_func(1, 2, 3)

TypeError: my_func() takes 2 positional arguments but 3 were given

In [33]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

datetime(1970, 1, 1).strftime('%Y-%d-%B')

NameError: name 'datetime' is not defined

In [30]:
#Data frame with pandas with dictionaries....

import pandas as pd

songs = {'Album' :['Thriller','Back in Black','The Dark Side of The Moon','The Bodygaurd','Bat Out of Hell'],'Released' :[1982,1980,1973,1992,1977], 'Length' :['00:42:19','00:42:11','00:42:49','00:57:44','00:46:33']}
song_frame = pd.DataFrame(songs)
print(song_frame)
df = pd.DataFrame(songs)
x = df[['Length','Released']]
print(x)

                       Album  Released    Length
0                   Thriller      1982  00:42:19
1              Back in Black      1980  00:42:11
2  The Dark Side of The Moon      1973  00:42:49
3              The Bodygaurd      1992  00:57:44
4            Bat Out of Hell      1977  00:46:33
     Length  Released
0  00:42:19      1982
1  00:42:11      1980
2  00:42:49      1973
3  00:57:44      1992
4  00:46:33      1977

In [36]:
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_fd56643899e8447fbda0d1510ad4f283 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='CT1KnEGnvMgGzyjM0Eq8v45py8UuBmKtxM3OGnjet5n0',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_fd56643899e8447fbda0d1510ad4f283.get_object(Bucket='watsonfirstproject-donotdelete-pr-01v6abmqjyxcwr',Key='pokemon_data.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
print(df_data_1)

       #                       Name    Type 1  Type 2   HP  Attack  Defense  \
0      1                  Bulbasaur     Grass  Poison   45      49       49
1      2                    Ivysaur     Grass  Poison   60      62       63
2      3                   Venusaur     Grass  Poison   80      82       83
3      3      VenusaurMega Venusaur     Grass  Poison   80     100      123
4      4                 Charmander      Fire     NaN   39      52       43
5      5                 Charmeleon      Fire     NaN   58      64       58
6      6                  Charizard      Fire  Flying   78      84       78
7      6  CharizardMega Charizard X      Fire  Dragon   78     130      111
8      6  CharizardMega Charizard Y      Fire  Flying   78     104       78
9      7                   Squirtle     Water     NaN   44      48       65
10     8                  Wartortle     Water     NaN   59      63       80
11     9                  Blastoise     Water     NaN   79      83      100
12     9    BlastoiseMega Blastoise     Water     NaN   79     103      120
13    10                   Caterpie       Bug     NaN   45      30       35
14    11                    Metapod       Bug     NaN   50      20       55
15    12                 Butterfree       Bug  Flying   60      45       50
16    13                     Weedle       Bug  Poison   40      35       30
17    14                     Kakuna       Bug  Poison   45      25       50
18    15                   Beedrill       Bug  Poison   65      90       40
19    15      BeedrillMega Beedrill       Bug  Poison   65     150       40
20    16                     Pidgey    Normal  Flying   40      45       40
21    17                  Pidgeotto    Normal  Flying   63      60       55
22    18                    Pidgeot    Normal  Flying   83      80       75
23    18        PidgeotMega Pidgeot    Normal  Flying   83      80       80
24    19                    Rattata    Normal     NaN   30      56       35
25    20                   Raticate    Normal     NaN   55      81       60
26    21                    Spearow    Normal  Flying   40      60       30
27    22                     Fearow    Normal  Flying   65      90       65
28    23                      Ekans    Poison     NaN   35      60       44
29    24                      Arbok    Poison     NaN   60      85       69
..   ...                        ...       ...     ...  ...     ...      ...
770  700                    Sylveon     Fairy     NaN   95      65       65
771  701                   Hawlucha  Fighting  Flying   78      92       75
772  702                    Dedenne  Electric   Fairy   67      58       57
773  703                    Carbink      Rock   Fairy   50      50      150
774  704                      Goomy    Dragon     NaN   45      50       35
775  705                    Sliggoo    Dragon     NaN   68      75       53
776  706                     Goodra    Dragon     NaN   90     100       70
777  707                     Klefki     Steel   Fairy   57      80       91
778  708                   Phantump     Ghost   Grass   43      70       48
779  709                  Trevenant     Ghost   Grass   85     110       76
780  710      PumpkabooAverage Size     Ghost   Grass   49      66       70
781  710        PumpkabooSmall Size     Ghost   Grass   44      66       70
782  710        PumpkabooLarge Size     Ghost   Grass   54      66       70
783  710        PumpkabooSuper Size     Ghost   Grass   59      66       70
784  711      GourgeistAverage Size     Ghost   Grass   65      90      122
785  711        GourgeistSmall Size     Ghost   Grass   55      85      122
786  711        GourgeistLarge Size     Ghost   Grass   75      95      122
787  711        GourgeistSuper Size     Ghost   Grass   85     100      122
788  712                   Bergmite       Ice     NaN   55      69       85
789  713                    Avalugg       Ice     NaN   95     117      184
790  714                     Noibat    Flying  Dragon   40      30       35
791  715                    Noivern    Flying  Dragon   85      70       80
792  716                    Xerneas     Fairy     NaN  126     131       95
793  717                    Yveltal      Dark  Flying  126     131       95
794  718           Zygarde50% Forme    Dragon  Ground  108     100      121
795  719                    Diancie      Rock   Fairy   50     100      150
796  719        DiancieMega Diancie      Rock   Fairy   50     160      110
797  720        HoopaHoopa Confined   Psychic   Ghost   80     110       60
798  720         HoopaHoopa Unbound   Psychic    Dark   80     160       60
799  721                  Volcanion      Fire   Water   80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
5         80       65     80           1      False
6        109       85    100           1      False
7        130       85    100           1      False
8        159      115    100           1      False
9         50       64     43           1      False
10        65       80     58           1      False
11        85      105     78           1      False
12       135      115     78           1      False
13        20       20     45           1      False
14        25       25     30           1      False
15        90       80     70           1      False
16        20       20     50           1      False
17        25       25     35           1      False
18        45       80     75           1      False
19        15       80    145           1      False
20        35       35     56           1      False
21        50       50     71           1      False
22        70       70    101           1      False
23       135       80    121           1      False
24        25       35     72           1      False
25        50       70     97           1      False
26        31       31     70           1      False
27        61       61    100           1      False
28        40       54     55           1      False
29        65       79     80           1      False
..       ...      ...    ...         ...        ...
770      110      130     60           6      False
771       74       63    118           6      False
772       81       67    101           6      False
773       50      150     50           6      False
774       55       75     40           6      False
775       83      113     60           6      False
776      110      150     80           6      False
777       80       87     75           6      False
778       50       60     38           6      False
779       65       82     56           6      False
780       44       55     51           6      False
781       44       55     56           6      False
782       44       55     46           6      False
783       44       55     41           6      False
784       58       75     84           6      False
785       58       75     99           6      False
786       58       75     69           6      False
787       58       75     54           6      False
788       32       35     28           6      False
789       44       46     28           6      False
790       45       40     55           6      False
791       97       80    123           6      False
792      131       98     99           6       True
793      131       98     99           6       True
794       81       95     95           6       True
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]